.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*=========*/
/* General */
/*=========*/

a {
  font-weight: bold;
  color: var(--darkest);
  text-decoration: none;
}
a:hover {
  color: var(--color1);
}

section {
  padding: 1rem 0;
}
h1 {
  margin: 1rem 0 1.5rem;
}
h3 {
  font-size: 0.8rem;
}


.segment {
  margin: 0.5rem 0;
}


/*======*/
/* MAIN */
/*======*/

.main-container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 4rem 0;
}

main {
  background-color: var(--white);
}