/*========*/
/* Galery */
/*========*/

img {
    /* Disable right click context menu
    for preventing download: */
    pointer-events: none;
}

.galery {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* Disable text selection: */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.proj-container {
    margin: 1rem;
}
.proj-container .hoverable {
    transition: transform var(--trans-time-slow);
}
.proj-container .hoverable:hover,
.proj-container .hoverable:focus {
    transform: scale(1.035);
}
.img-t1 {
    width: 16rem; height: 16rem;
    object-fit: contain;
    border: 1px solid var(--dark);
    padding: 0.3rem;
}

.proj-info {
    justify-content: space-between;
}
.proj-info h4 {
    margin: 0.5rem;
    /* font-weight: normal; */
}
.proj-info p {
    font-size: 0.8rem;
}