/*========*/
/* Galery */
/*========*/

img {
    /* Disable right click context menu
    for preventing download: */
    pointer-events: none;
}

.galery {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* Disable text selection: */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.img-container {
    margin: 1rem;
}
.img-t1 {
    width: 16rem; height: 16rem;
    object-fit: contain;
    border: 1px solid var(--dark);
    padding: 0.3rem;
}