
.img-shp-cart {
    width: 7rem; height: 7rem;
    object-fit: contain;
    /* border: 1px solid var(--dark);
    padding: 0.3rem; */
}

.shop-cart table {
    margin: 1rem;
    border-collapse: collapse;
}
.shop-cart tbody td {
    padding: 0.5rem 1.5rem;
}
.shop-cart tfoot td {
    padding: 1.5rem 1.5rem;
    border-top: 1px solid var(--dark);
}
.shop-cart tbody tr {
    transition: transform var(--trans-time-slow);
}
.shop-cart td.parting {
    border-top: 1px solid lightgrey;
}
.shop-cart tbody tr:first-child td { border: none; }
.shop-cart tbody tr:hover,
.shop-cart tbody tr:focus {
    transform: scale(1.04);
}


/*===================================*/
/* Small Shopping Cart (in Galeries) */
/*===================================*/

.sm-shp-cart {
    z-index: 2;
    position: fixed;
    top: 20%; right: -43px;
    align-items: flex-start;
    color: var(--lightest);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: var(--dark);
    -moz-box-shadow: -0.1rem 0.15rem 0.2rem rgba(0,0,0,0.6);
    -webkit-box-shadow: -0.1rem 0.15rem 0.2rem rgba(0,0,0,.6);
    box-shadow: -0.1rem 0.15rem 0.2rem rgba(0,0,0,.6);
    cursor: pointer;
    transition: right var(--trans-time-slow);
}
.sm-shp-cart.hidden {
    visibility: hidden;
    width: 0;
}
.sm-shp-cart ul {
    list-style-type: none;
    margin: 0; padding: 0;
    margin-top: 0.5rem;
    font-size: 0.7rem;
}
.sm-shp-cart a {
    color: var(--lightest);
}
.sm-shp-cart a:hover {
    color: var(--color1-light);
}
.schniepel {
    padding: 0.9rem;
    padding-right: 0.5rem;
}
#smShpCrt-list {
    padding: 0.2rem 0.5rem 0.6rem 0;
}