.main-container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 4rem 0;
}

main {
    background-color: var(--white);
}

/*========*/
/* Galery */
/*========*/

.galery {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}
.img-container {
    margin: 1rem;
}
.img-t1 {
    width: 16rem; height: 16rem;
    object-fit: contain;
    border: 1px solid var(--dark);
    padding: 0.3rem;
}