
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*=========*/
/* General */
/*=========*/

a {
  font-weight: bold;
  color: var(--darkest);
  text-decoration: none;
}
a:hover {
  color: var(--color1);
}

section {
  padding: 1rem 0;
}
h1 {
  margin-bottom: 1rem;
}
h3 {
  font-size: 0.8rem;
}


.segment {
  margin: 0.5rem 0;
}
