:root {
  font-size: 20px;

  /* COLOR VARS */
  --darkest: black;
  --dark: darkgrey;
  --color1-dark: darkblue;
  --color1: blue;             /* try salmon! */
  --color1-light: lightblue;
  --lightest: white;

  font-family: sans-serif;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  min-width: 320px;
  background-color: var(--lightest);
  color: var(--darkest);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*===============*/
/* Media queries */
/*===============*/

@media only screen and (max-width: 451px) {     /* bp 451px */

}

@media only screen and (min-width: 451px) {     /* bp 451px */
    
}

@media only screen and (min-width: 600px) {     /* bp 600px */

}

@media only screen and (min-width: 768px) {     /* bp 768px */

}

@media only screen and (min-width: 1080px) {     /* bp 1080px */

}